/* .create-post {
    position: absolute;
width: 560px;
height: 120px;
left: 144px;
top: 202px;

background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
border-radius: 4px;

}

.post-first {

    position: absolute;
width: 560px;
height: 750px;
left: 144px;
top: 354px;

background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
border-radius: 4px;
}

.post-right-first {
    position: absolute;
width: 560px;
height: 231px;
left: 736px;
top: 202px;

background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
border-radius: 4px;
}


.post-right-secondpost {

    position: absolute;
    width: 560px;
    height: 600px;
    left: 736px;
    top: 500px;

    background: #FFFFFF;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.05);
border-radius: 4px;
} */